body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) center center no-repeat fixed;
}

h2 {
  font-size: 2rem;
  color: #F4F4F4;
}

.d-flex {
  align-items: center;
}

hr {                
  padding: 4px;
  max-width:  65px;
  border-color: #FE7300;
  border-width: 3px;
  margin-inline: auto;
}

.gutter {                             
  height:   10rem;
}

.btn-xl {
  padding: 1rem 2rem;
} 

.btn {
  font-weight: 300;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #FE7300;
  border-color: #FE7300;
}

.btn-primary:hover {
  border-color: #ee4b08;
  --bs-btn-hover-bg: #ee4b08; 
  --bs-btn-hover-border-color: #ee4b08;
  border-width: 4px;
  font-weight: 1000;
  transition: bottom .3s;
}
